
#search .searchimg{
    background:url(/static/images/search.gif) 0 0 no-repeat;
    float: right;
}

/* Large devices (800px and up) */
@media only screen and (min-width: 800px) {

    .inside .figure embed,
    .inside .figure img {
        max-width: 100%;
        margin: 25px auto 0px auto;
        display: block;
        height: auto;
        /*border: 1px solid #f0f0f0;*/
    }

    .inside a {
        color: #96838E;
    }

    .figure .caption {
        font-family: "Playfair Display", times, serif;
        font-weight: 400;
        font-size: .9em;
        text-align: center;
    }
}


@media only screen {

    a{
        color:#000;
    }

    #primary h2{ color:#333; }

    blockquote{ color:#333; }

    table th{ color:#FFF; background:#333; }
    table td{ color:#000; background:#EAEAEA; }
    #cse table td{
        color:#000;
        background:white;
        font-family:"Lora", "Nunito", Verdana, Arial, sans-serif;
    }

    .widget ul{
        margin: .5em 0 .2em 0;
    }

    ul.dates a:hover, ul.dates a:hover .date, ul.counts a:hover, ul.counts a:hover .count, ul.blogroll a:hover, ul.pages a:hover, .widget ul a:hover, a.readmore:hover, .links:hover{ color:#000; }


    /* Images */



    .label {
        text-decoration: none;
    }


    .links { padding-top:0px; }

    #social {
        display: inline-block;
    }

    .acronym li{
        display:inline-block;
        margin-left: 0;
        padding-left: 0;
        margin-right: 20px;
    }

    .acronym li a:hover,
    .acronym li a:focus,
    .acronym li a:active {
        cursor: pointer;
        color: #FAD0D0;
    }

    #primary:before,
    #primary:after,
    .inside:before,
    .inside:after {
        content: "";
        display: table;
    }

    #primary:after,
    .inside:after {
        clear: both;
    }


    /* Links */
    a {
        color: #333;
        text-decoration: none;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
    }
    /*a:visited {
        color: #333;
    }*/
    a:hover,
    a:focus,
    a:active {
        color: #999;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
    }

}
