
#search .searchimg{
    background:url(/static/images/search.gif) 0 0 no-repeat;
    float: right;
}

/* Large devices (800px and up) */
@media only screen and (min-width: 800px) {

    .inside .figure embed,
    .inside .figure img {
        max-width: 100%;
        margin: 25px auto 0px auto;
        display: block;
        height: auto;
        /*border: 1px solid #f0f0f0;*/
    }

    .inside a {
        color: #96838E;
    }

    .figure .caption {
        font-family: "Playfair Display", times, serif;
        font-weight: 400;
        font-size: .9em;
        text-align: center;
    }
}


@media only screen {

    iframe{
        margin: 25px auto 0px auto;
        display: block;
    }


    a, .story .details a, .story .details a:hover{
        color:#000;
    }
    .story .details a:hover{
        text-decoration:underline;
    }
    .story .details{ border-top:1px solid #7F7F7F; }

    h1, h2, h3{ color:#000; }

    #primary h2{ color:#333; }

    blockquote{ color:#333; }

    table th{ color:#FFF; background:#333; }
    table td{ color:#000; background:#EAEAEA; }
    #cse table td{
        color:#000;
        background:white;
        font-family:"Lora", "Nunito", Verdana, Arial, sans-serif;
    }

    .secondary dd a:hover {
        color: #000;
    }
    .secondary .featured p{
        border-bottom:1px solid #CCC;
        border-top: 1px solid #CCC;
    }
    .secondary .featured dl{
        border-bottom:1px solid #CCC;
    }
    .secondary .featured dt{
        color:#333;
    }
    #primary .story h2, #primary .primary h2, #primary .single-story .primary h3, .story h3, .story h3 a{
        color:#333;
    }

    #secondary{
        border-top:1px solid #E3E3E3;
    }
    .comment-head{
        border-bottom:1px solid #E3E3E3;
    }

    ul.dates, ul.counts, ul.blogroll ul, ul.pages, .widget ul{
        border-top:1px solid transparent;
    }
    ul.dates li, ul.counts li, ul.blogroll ul li, ul.pages li, .widget ul li{
        border-bottom:1px solid transparent;
    }
    ul.dates .date, ul.counts .count{
        color:#7A7A7A;
    }
    ul.dates a, ul.counts a, ul.blogroll a, ul.pages a, .widget ul a, a.readmore, .links{
        color:#404040;
        font-size: 0.9em;
    }

    .widget ul{
        margin: .5em 0 .2em 0;
    }

    ul.dates a:hover, ul.dates a:hover .date, ul.counts a:hover, ul.counts a:hover .count, ul.blogroll a:hover, ul.pages a:hover, .widget ul a:hover, a.readmore:hover, .links:hover{ color:#000; }


    /* Images */



    .label {
        text-decoration: none;
    }


    .links { padding-top:0px; }

    #social {
        display: inline-block;
    }

    .acronym li{
        display:inline-block;
        margin-left: 0;
        padding-left: 0;
        margin-right: 20px;
    }

    .acronym li a:hover,
    .acronym li a:focus,
    .acronym li a:active {
        cursor: pointer;
        color: #FAD0D0;
    }

    #primary:before,
    #primary:after,
    .inside:before,
    .inside:after {
        content: "";
        display: table;
    }

    #primary:after,
    .inside:after {
        clear: both;
    }


    /* Links */
    a {
        color: #333;
        text-decoration: none;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
    }
    /*a:visited {
        color: #333;
    }*/
    a:hover,
    a:focus,
    a:active {
        /*color: #999;*/
        text-decoration: none;
        transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
    }

}
